<ngtt-single-elimination-tree [tournament]="myTournamentData" [matchTemplate]="myMatchTemplate">
</ngtt-single-elimination-tree>

<ng-template #myMatchTemplate let-match>
  <app-match [match]="match"></app-match>
</ng-template>